In [1]:
import pandas as pd
import requests
import re

In [2]:
df_oscars = pd.read_csv('../data/raw/the_oscar_award.csv')
df_oscars.head(2)

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True

In [3]:
df_golden = pd.read_csv('../data/raw/golden_globe_awards.csv')
df_golden.head(2)

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True

In [4]:
df_imdb = pd.read_csv('../data/raw/imdb_movie_data_2023.csv')
df_imdb.head(2)

,Unnamed: 0,Moive Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King

In [ ]:
#Nos enfocamos en cada DF por separado para la limpieza primero
#queremos comparar primero los datos de los oscars con los golden globes, que no empezaron hasta 1944, por lo que la información de años anteriores no nos vale
#las categorías de premios de los oscars, además, estaban divididas en 'black and white' y 'color' hasta finales de los años 60, por lo que eliminaremos las filas anteriores a esa fecha (tampoco son relevantes para el estudio)
#los DFs de golden globes y oscars incluyen información de nominados y ganadores. Mantendremos las dos para comprobar si los nominados suelen ser los mismos
#el número de la edición de la ceremonia (columna 'Ceremony') tanto en golden globes como en oscars no nos hace falta teniedo ya el año de la ceremonia
#df_oscars y df_golden comparten una estructura similar de columnas, así que el trabajo de limpieza se centrará en unificar formato y categorías de premios, comprobar que los nombres de películas y actores están escritos igual, etc.
#propuesta --- hacer un count de premios incluyendo todas las categorías, y dejar las categorías específicas en comentarios. Igual sacar columnas para Best movie -- True y Best director -- True como más relevantes para la valoración general de la película
# en el DF de imdb nos interesarán todas las columnas menos PG Rating y duración, que se eliminarán. Del resto, habrá que unificar formato con las columnas de movie name y director y las respectivas de los otros dos df
#si no obtenemos suficientes datos del df de imdb, completaremos con datos de tmdb (api disponible)