In [2]:
import pandas as pd
import requests
import re

In [3]:
df_imdb = pd.read_csv('../data/raw/imdb_movie_data_2023.csv')

In [4]:
df_imdb.drop('Unnamed: 0',axis=1,inplace=True)
df_imdb.head(2)

,Moive Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King

In [7]:
df_imdb.rename(columns={"Moive Name": "film"}, inplace=True)

In [8]:
imdb = df_imdb[['film','Rating','Genre']]

In [10]:
imdb.head()

                          film  Rating                      Genre
0       Leave the World Behind     6.5   Drama, Mystery, Thriller
1                        Wonka     7.4  Adventure, Comedy, Family
2                  Poor Things     8.5     Comedy, Drama, Romance
3   Killers of the Flower Moon     7.8      Crime, Drama, History
4                 May December     7.0              Comedy, Drama