In [1]:
import pandas as pd
import requests
import re
import cleaning_functions as cf

In [2]:
df_oscars = pd.read_csv('../data/raw/the_oscar_award.csv')
df_oscars.head(2)

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True

In [3]:
df_oscars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10765 entries, 0 to 10764
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10765 non-null  int64
 1   year_ceremony  10765 non-null  int64
 2   ceremony       10765 non-null  int64
 3   category       10765 non-null  object
 4   name           10761 non-null  object
 5   film           10450 non-null  object
 6   winner         10765 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 515.3+ KB

In [4]:
df_oscars.drop('ceremony',axis=1,inplace=True)

In [5]:
df_oscars.category = df_oscars.category.str.capitalize()

In [6]:
#quitar premios previos a 1967, ya que en este año se realizaron grandes cambios en la estructura de los premios (eliminación de categorías black and white)
df_oscars = df_oscars[df_oscars.year_film >= 1967]
df_oscars

,year_film,year_ceremony,category,name,film,winner
4451,1967,1968,Actor,Warren Beatty,Bonnie and Clyde,False
4452,1967,1968,Actor,Dustin Hoffman,The Graduate,False
4453,1967,1968,Actor,Paul Newman,Cool Hand Luke,False
4454,1967,1968,Actor,Rod Steiger,In the Heat of the Night,True
4455,1967,1968,Actor,Spencer Tracy,Guess Who's Coming to Dinner,False
...,...,...,...,...,...,...
10760,2022,2023,Honorary award,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,True
10761,2022,2023,Honorary award,"To Diane Warren, for her genius, generosity an...",NaN,True
10762,2022,2023,Honorary award,"To Peter Weir, a fearless and consummate filmm...",NaN,True
10763,2022,2023,Gordon e. sawyer award,Iain Neil,NaN,True
10764,2022,2023,Award of commendation,To Ryan Laney for his innovative adaptation an...,Welcome to Chechnya,True

In [7]:
df_oscars.isnull().any()

year_film        False
year_ceremony    False
category         False
name              True
film              True
winner           False
dtype: bool

In [8]:
nan_rows_oscars = df_oscars[df_oscars.film.isnull()]

In [9]:
nan_rows_oscars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 154 entries, 4557 to 10763
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      154 non-null    int64
 1   year_ceremony  154 non-null    int64
 2   category       154 non-null    object
 3   name           150 non-null    object
 4   film           0 non-null      object
 5   winner         154 non-null    bool
dtypes: bool(1), int64(2), object(3)
memory usage: 7.4+ KB

In [10]:
#comprobar contenido de las filas con nan values en películas. parece que es por premios especiales y premios honorarios, por lo que las eliminamos después
nan_rows_oscars.tail(5)

,year_film,year_ceremony,category,name,film,winner
10759,2022,2023,Jean hersholt humanitarian award,NaN,NaN,True
10760,2022,2023,Honorary award,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,True
10761,2022,2023,Honorary award,"To Diane Warren, for her genius, generosity an...",NaN,True
10762,2022,2023,Honorary award,"To Peter Weir, a fearless and consummate filmm...",NaN,True
10763,2022,2023,Gordon e. sawyer award,Iain Neil,NaN,True

In [11]:
df_oscars.dropna(subset='film', inplace = True)

In [12]:
df_oscars.isnull().any()

year_film        False
year_ceremony    False
category         False
name             False
film             False
winner           False
dtype: bool

In [13]:
subset = df_oscars[(df_oscars.year_film == 1967) & (df_oscars.winner == True)]

In [14]:
category_value_drop = ['Award of commendation']

In [15]:
df_oscars = cf.drop_rows_by_value(df_oscars,df_oscars.category,category_value_drop)

In [16]:
changes_category_values = {
    'Actress':'Actress in a leading role',
    'Actor': 'Actor in a leading role',
    'Art direction': 'Production design',
    'Best motion picture': 'Picture',
    'Directing':'Director',
    'Makeup': 'Makeup and hairstyling',
    'Sound':'Sound effects',
    'Sound effects editing':'Sound effects',
    'Sound editing': 'Sound effects',
    'Sound mixing':'Sound effects',
    'Foreign language film': 'International feature film'
}

In [17]:
changes_category_strings = {
    'subject': 'film',
    'cartoon': 'animated',
    '(':'',
    ')':'',
    'Special achievement award ':'',
    'Special ':'',  
    'dramatic ':''
}

In [18]:
df_oscars.category = cf.clean_strings_column(df_oscars.category, changes_category_strings)

In [19]:
df_oscars.category = df_oscars.category.str.capitalize()

In [20]:
df_oscars = cf.clean_values_column(df_oscars,changes_category_values)

In [21]:
#Crear sets con categorías similares para ver qué más se puede limpiar:

In [22]:
music_categories = cf.values_iterable_regex(df_oscars.category,r'\b\w*music\w*\b')
music_categories

{'Music adaptation score',
 'Music original music score',
 'Music original musical or comedy score',
 'Music original score',
 'Music original score--for a motion picture [not a musical]',
 'Music original song',
 'Music original song score',
 'Music original song score and its adaptation -or- adaptation score',
 'Music original song score and its adaptation or adaptation score',
 'Music original song score or adaptation score',
 'Music score of a musical picture--original or adaptation',
 'Music scoring of music--adaptation or treatment',
 'Music scoring: adaptation and original song score',
 'Music scoring: original song score and adaptation -or- scoring: adaptation',
 'Music song',
 'Music song--original for the picture'}

In [23]:
music_patterns = {
    r'\b\w*scor\w*\b':'Original score'
}

In [24]:
music_clean = cf.value_replace_dictio_regex(music_categories, music_patterns, 'Original song')

In [25]:
df_oscars = cf.clean_values_column(df_oscars,music_clean)

In [26]:
writing_categories = cf.values_iterable_regex(df_oscars.category,r'\b\w*writing\w*\b')
writing_categories

{'Writing adapted screenplay',
 'Writing original screenplay',
 'Writing screenplay adapted from other material',
 'Writing screenplay based on material from another medium',
 'Writing screenplay based on material previously produced or published',
 'Writing screenplay written directly for the screen',
 'Writing screenplay written directly for the screen--based on factual material or on story material not previously published or produced',
 'Writing screenplay--based on material from another medium',
 'Writing story and screenplay--based on factual material or material not previously published or produced',
 'Writing story and screenplay--based on material not previously published or produced',
 'Writing story and screenplay--written directly for the screen'}

In [27]:
writting_patterns = {
    r'\b\w*not preciously\w*\b':'Original screenplay',
    r'\b\w*directly\w*\b': 'Original screenplay',
    r'\b\w*original\w*\b': 'Original screenplay'
}

In [28]:
writing_clean = cf.value_replace_dictio_regex(writing_categories, writting_patterns, 'Adapted screenplay')

In [29]:
df_oscars = cf.clean_values_column(df_oscars,writing_clean)

In [30]:
df_oscars.nunique()

year_film          56
year_ceremony      56
category           24
name             4453
film             2927
winner              2
dtype: int64

In [31]:
df_oscars.category.unique()

array(['Actor in a leading role', 'Actor in a supporting role',
       'Actress in a leading role', 'Actress in a supporting role',
       'Production design', 'Cinematography', 'Costume design',
       'Director', 'Documentary feature', 'Documentary short film',
       'Film editing', 'International feature film', 'Original score',
       'Original song', 'Best picture', 'Short film animated',
       'Short film live action', 'Sound effects', 'Visual effects',
       'Adapted screenplay', 'Original screenplay',
       'Makeup and hairstyling', 'Animated feature film',
       'Documentary feature film'], dtype=object)

In [35]:
df_oscars.reset_index(drop = True, inplace = True)

In [36]:
df_oscars.head(2)

,year_film,year_ceremony,category,name,film,winner
0,1967,1968,Actor in a leading role,Warren Beatty,Bonnie and Clyde,False
1,1967,1968,Actor in a leading role,Dustin Hoffman,The Graduate,False

In [37]:
subset_b = df_oscars[(df_oscars.year_film == 1995) & (df_oscars.category == 'Best picture')]
subset_b.head(60)

,year_film,year_ceremony,category,name,film,winner
2989,1995,1996,Best picture,"Brian Grazer, Producer",Apollo 13,False
2990,1995,1996,Best picture,"George Miller, Doug Mitchell and Bill Miller, ...",Babe,False
2991,1995,1996,Best picture,"Mel Gibson, Alan Ladd, Jr. and Bruce Davey, Pr...",Braveheart,True
2992,1995,1996,Best picture,"Mario Cecchi Gori, Vittorio Cecchi Gori and Ga...",The Postman (Il Postino),False
2993,1995,1996,Best picture,"Lindsay Doran, Producer",Sense and Sensibility,False

In [38]:
df_oscars.to_csv('oscars_cleaned.csv', index = False)