In [1]:
import pandas as pd
import re
import cleaning_functions as cf

In [11]:
oscars = pd.read_csv('../data/Clean/1_oscars_cleaned.csv')
oscars.head(10)

,year_film,year_ceremony,Oscars nominations,name,film,Oscars winner
0,1967,1968,Actor in a leading role,Warren Beatty,Bonnie and Clyde,False
1,1967,1968,Actor in a leading role,Dustin Hoffman,The Graduate,False
2,1967,1968,Actor in a leading role,Paul Newman,Cool Hand Luke,False
3,1967,1968,Actor in a leading role,Rod Steiger,In the Heat of the Night,True
4,1967,1968,Actor in a leading role,Spencer Tracy,Guess Who's Coming to Dinner,False
5,1967,1968,Actor in a supporting role,John Cassavetes,The Dirty Dozen,False
6,1967,1968,Actor in a supporting role,Gene Hackman,Bonnie and Clyde,False
7,1967,1968,Actor in a supporting role,Cecil Kellaway,Guess Who's Coming to Dinner,False
8,1967,1968,Actor in a supporting role,George Kennedy,Cool Hand Luke,True
9,1967,1968,Actor in a supporting role,Michael J. Pollard,Bonnie and Clyde,False

In [72]:
golden = pd.read_csv('../data/Clean/2_golden_final.csv')
golden.head(10)

,year_film,year_award,Golden Globes nominations,nominee,film,Golden Globes winner
0,1967,1968,Best motion picture - drama,In the Heat of the Night,In the Heat of the Night,True
1,1967,1968,Best motion picture - drama,Bonnie and Clyde,Bonnie and Clyde,False
2,1967,1968,Best motion picture - drama,Far From The Madding Crowd,Far From The Madding Crowd,False
3,1967,1968,Best motion picture - drama,Guess Who's Coming To Dinner,Guess Who's Coming To Dinner,False
4,1967,1968,Best motion picture - drama,In Cold Blood,In Cold Blood,False
5,1967,1968,Best motion picture - musical or comedy,"The Graduate, The",The Graduate,True
6,1967,1968,Best motion picture - musical or comedy,Camelot,Camelot,False
7,1967,1968,Best motion picture - musical or comedy,Doctor Dolittle,Doctor Dolittle,False
8,1967,1968,Best motion picture - musical or comedy,"The Taming of the Shrew, The",The Taming of the Shrew,False
9,1967,1968,Best motion picture - musical or comedy,Thoroughly Modern Millie,Thoroughly Modern Millie,False

In [73]:
#renombramos algunas columnas para mantener los datos claros después de unirlas:
golden.rename(columns={"nominee": "G.G. name", 'Golden Globes nominations':'G.G. nominations', 'Golden Globes winner':'G.G. winner'}, inplace=True)

In [14]:
oscars.rename(columns={"name": "Oscars name"}, inplace=True)

In [78]:
golden.rename(columns={"year_award": "year_ceremony"}, inplace=True)

In [85]:
golden.head(1)

,year_film,year_ceremony,G.G. nominations,G.G. name,film,G.G. winner
0,1967,1968,Best motion picture - drama,In the Heat of the Night,In the Heat of the Night,True

In [16]:
oscars.head(1)

,year_film,year_ceremony,Oscars nominations,Oscars name,film,Oscars winner
0,1967,1968,Actor in a leading role,Warren Beatty,Bonnie and Clyde,False

In [42]:
oscars.reset_index(drop = True, inplace = True)

In [150]:
#cambiamos el formato de los df con un pivot table para poder tener las categorías como nombres de columna expandidos para cada película (unmelt)

In [149]:
oscars_films = oscars.pivot_table(index= ['film','year_film','year_ceremony'], columns = 'Oscars nominations', values= 'Oscars winner')
oscars_films = oscars_films.reset_index()
oscars_films.columns.name = None
oscars_films.head(2)

,film,year_film,year_ceremony,Actor in a leading role,Actor in a supporting role,Actress in a leading role,Actress in a supporting role,Adapted screenplay,Animated feature film,Best picture,...,International feature film,Makeup and hairstyling,Original score,Original screenplay,Original song,Production design,Short film animated,Short film live action,Sound effects,Visual effects
0,'38',1986,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,'Crocodile' Dundee,1986,1987,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
golden_films = golden.pivot_table(index= ['film','year_film','year_ceremony'], columns = 'G.G. nominations', values= 'G.G. winner')
golden_films = golden_films.reset_index()
golden_films.columns.name = None
golden_films.head(2)

,film,year_film,year_ceremony,Best actor - drama,Best actor - musical or comedy,Best actress - drama,Best actress - musical or comedy,Best director - motion picture,Best motion picture - animated,Best motion picture - drama,Best motion picture - foreign language,Best motion picture - musical or comedy,Best original score - motion picture,Best original song - motion picture,Best screenplay - motion picture,Best supporting actor - motion picture,Best supporting actress - motion picture,Documentary
0,Roma (1972),1972,1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"$1,000,000 Duck",1971,1972,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
#creamos tres columnas nuevas por cada df: 
    #número de nominaciones (contar columnas con valor distinto de NaN)
    #número de premios (sumar fila
    #y si han recibido el premio a la mejor película

In [153]:
oscars_films.columns

Index(['film', 'year_film', 'year_ceremony', 'Actor in a leading role',
       'Actor in a supporting role', 'Actress in a leading role',
       'Actress in a supporting role', 'Adapted screenplay',
       'Animated feature film', 'Best picture', 'Cinematography',
       'Costume design', 'Director', 'Documentary feature',
       'Documentary feature film', 'Documentary short film', 'Film editing',
       'International feature film', 'Makeup and hairstyling',
       'Original score', 'Original screenplay', 'Original song',
       'Production design', 'Short film animated', 'Short film live action',
       'Sound effects', 'Visual effects'],
      dtype='object')

In [ ]:
for n in range(len(oscars_films)):
    oscars_films.iloc(l)
    oscars_films['Oscars total nominations'] = oscars_films.count(oscar_films.columns[3:])

In [155]:
len(oscars_films)

2954

In [156]:
oscars_films.film[1]

"'Crocodile' Dundee"

In [110]:
list_all_films = []
list_oscars = oscars_films.film.to_list()
list_golden = golden_films.film.to_list()
list_all_films.extend([e for e in list_oscars])
list_all_films.extend([e for e in list_golden if e not in list_all_films])

In [148]:
len(list_all_films)

3899

In [109]:
awarded_films = {
    'Films':list_all_films,
    'year_film': [],
    'Oscars nominations': [],
    'Oscars won': [],
    'Oscars best picture': [],
    'G.G. nominations': [],
    'G.G. won': [],
    'G.G. best motion picture': []
}