In [94]:
import requests
from bs4 import BeautifulSoup as bs
import re
import cleaning_functions as cf
import pandas as pd
from tqdm.notebook import tqdm

In [40]:
#Ahora extraeremos un nuevo df con información sobre el rating de las películas que ya tenemos de la API de TMDb.
#Para eso necesitamos una lista con las películas a buscar (la sacamos de award_winning_movies) cambiando espacios y caracteres no alfanuméricos por una clave concreta

In [114]:
award_winning_movies = pd.read_csv('../data/Clean/3_award_winning_movies.csv')

In [33]:
movies = pd.DataFrame(award_winning_movies.film)

In [18]:
replace_movies_dictio = {
    "'":'%27',
    " ":'%20',
    ",":'%2C',
    "!":'%09',
    "(":'%28',
    ")":'%29',
    ":":'%3A',
    "?":'%3F',
    "$":'%24',
    "[":'%5B',
    "]":'%5D'
}

In [35]:
movies = cf.clean_strings_column (movies.film, replace_movies_dictio)

In [38]:
films_list = movies.to_list()

In [96]:
len(films_list)

3891

In [65]:
url = "https://api.themoviedb.org/3/search/movie?query=A%20Star%20Is%20Born&include_adult=false&language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjNmQxYjFjNGYyY2YzM2I5NTVhMGExN2MzN2YxMTc0NiIsInN1YiI6IjY1YmI3NDI1NzY0NmZkMDE4NGJkZjhmYSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.259BtpIIcsim1ykSzWx0SlO8dv_e5wYLHcBAldMq8cM"
}

response = requests.get(url, headers=headers)
film = response.json()

In [80]:
score = film['results'][0]['vote_average']

In [84]:
url = "https://api.themoviedb.org/3/search/movie?query=Far%20from%20the%20Madding%20Crowd&include_adult=false&language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjNmQxYjFjNGYyY2YzM2I5NTVhMGExN2MzN2YxMTc0NiIsInN1YiI6IjY1YmI3NDI1NzY0NmZkMDE4NGJkZjhmYSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.259BtpIIcsim1ykSzWx0SlO8dv_e5wYLHcBAldMq8cM"
}

response = requests.get(url, headers=headers)
film = response.json()

In [89]:
film['results'][0]['vote_average']

7.044

In [106]:
tmdb_score = []
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjNmQxYjFjNGYyY2YzM2I5NTVhMGExN2MzN2YxMTc0NiIsInN1YiI6IjY1YmI3NDI1NzY0NmZkMDE4NGJkZjhmYSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.259BtpIIcsim1ykSzWx0SlO8dv_e5wYLHcBAldMq8cM"
}

for film in tqdm(films_list):
    url = f'https://api.themoviedb.org/3/search/movie?query={film}&include_adult=false&language=en-US&page=1'
    response = requests.get(url, headers=headers)
    film_info = response.json()
    try:
        tmdb_score.append(film_info['results'][0]['vote_average'])
    except:
        tmdb_score.append('Not available')
    
len(tmdb_score)

  0%|          | 0/3891 [00:00<?, ?it/s]

3891

In [116]:
award_winning_movies['TMDb Score'] = tmdb_score

In [117]:
award_winning_movies

,film,year_film,Total oscars nominations,Total oscars won,Oscars main categories nominations,Oscars main categories won,Oscars best picture,G.G. nominations,G.G. won,G.G. main categories nominations,G.G. main categories won,G.G. best motion picture,TMDb Score
0,Far from the Madding Crowd,1967,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,7.044
1,I Even Met Happy Gypsies,1967,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.8
2,Ski Fever,1967,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0
3,El Amor Brujo,1967,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,6.977
4,A King's Story,1967,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3886,Empire of Light,2022,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,6.694
3887,The Whale,2022,3.0,2.0,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,7.9
3888,M.M. Keeravaani,2022,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,Not available
3889,Babylon,2022,3.0,0.0,0.0,0.0,0.0,5.0,1.0,4.0,0.0,0.0,7.424
3890,Aftersun,2022,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,7.696

In [118]:
award_winning_movies.to_csv('4_final_movie_data.csv', index = False)