In [1]:
import pandas as pd
import requests
import re

In [2]:
df_oscars = pd.read_csv('../data/raw/the_oscar_award.csv')
df_oscars.head(2)

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True

In [3]:
df_golden = pd.read_csv('../data/raw/golden_globe_awards.csv')
df_golden.head(2)

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True

In [4]:
df_imdb = pd.read_csv('../data/raw/imdb_movie_data_2023.csv')

In [5]:
#IMDB!!!!
df_imdb.drop('Unnamed: 0',axis=1,inplace=True)
df_imdb.head(2)

,Moive Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King

In [6]:
#Nos enfocamos en cada DF por separado
#queremos comprobar los datos con los golden globes, que no empezaron hasta 1944, por lo que la información de años anteriores no nos vale
#el DF incluye información de nominados y ganadores. Mantendremos las dos para comprobar si los nominados suelen ser los mismos
#el número de la edición de la ceremonia (columna 'Ceremony') no nos hace falta teniedo ya el año de la ceremonia
#df_oscars y df_golden comparten una estructura similar de columnas, así que el trabajo de limpieza se centrará en unificar formato y categorías de premios, comprobar que los nombres de películas y actores están escritos igual, etc.
#propuesta --- hacer un count de premios incluyendo todas las categorías, y dejar las categorías específicas en comentarios. Igual sacar columnas para Best movie -- True y Best director -- True

In [7]:
df_golden.head(2)

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True

In [8]:
df_oscars.head(2)

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True

In [9]:
df_oscars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10765 entries, 0 to 10764
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10765 non-null  int64
 1   year_ceremony  10765 non-null  int64
 2   ceremony       10765 non-null  int64
 3   category       10765 non-null  object
 4   name           10761 non-null  object
 5   film           10450 non-null  object
 6   winner         10765 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 515.3+ KB

In [10]:
df_oscars.drop('ceremony',axis=1,inplace=True)

In [11]:
#Golden Globes!!!
df_golden.drop('ceremony',axis=1,inplace=True)

In [12]:
df_oscars.category = df_oscars.category.str.capitalize()

In [13]:
#quitar premios previos a 1967, ya que en este año se realizaron grandes cambios en la estructura de los premios (eliminación de categorías black and white)
df_oscars = df_oscars[df_oscars.year_film >= 1967]
df_oscars

,year_film,year_ceremony,category,name,film,winner
4451,1967,1968,Actor,Warren Beatty,Bonnie and Clyde,False
4452,1967,1968,Actor,Dustin Hoffman,The Graduate,False
4453,1967,1968,Actor,Paul Newman,Cool Hand Luke,False
4454,1967,1968,Actor,Rod Steiger,In the Heat of the Night,True
4455,1967,1968,Actor,Spencer Tracy,Guess Who's Coming to Dinner,False
...,...,...,...,...,...,...
10760,2022,2023,Honorary award,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,True
10761,2022,2023,Honorary award,"To Diane Warren, for her genius, generosity an...",NaN,True
10762,2022,2023,Honorary award,"To Peter Weir, a fearless and consummate filmm...",NaN,True
10763,2022,2023,Gordon e. sawyer award,Iain Neil,NaN,True
10764,2022,2023,Award of commendation,To Ryan Laney for his innovative adaptation an...,Welcome to Chechnya,True

In [14]:
df_oscars.isnull().any()

year_film        False
year_ceremony    False
category         False
name              True
film              True
winner           False
dtype: bool

In [15]:
nan_rows_1 = df_oscars[df_oscars.film.isnull()]

In [16]:
nan_rows_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 154 entries, 4557 to 10763
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      154 non-null    int64
 1   year_ceremony  154 non-null    int64
 2   category       154 non-null    object
 3   name           150 non-null    object
 4   film           0 non-null      object
 5   winner         154 non-null    bool
dtypes: bool(1), int64(2), object(3)
memory usage: 7.4+ KB

In [17]:
#comprobar contenido de las filas con nan values en películas. parece que es por premios especiales y premios honorarios, por lo que las eliminamos después
nan_rows_1.tail(5)

,year_film,year_ceremony,category,name,film,winner
10759,2022,2023,Jean hersholt humanitarian award,NaN,NaN,True
10760,2022,2023,Honorary award,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,True
10761,2022,2023,Honorary award,"To Diane Warren, for her genius, generosity an...",NaN,True
10762,2022,2023,Honorary award,"To Peter Weir, a fearless and consummate filmm...",NaN,True
10763,2022,2023,Gordon e. sawyer award,Iain Neil,NaN,True

In [18]:
df_oscars.dropna(subset='film', inplace = True)

In [19]:
df_oscars.isnull().any()

year_film        False
year_ceremony    False
category         False
name             False
film             False
winner           False
dtype: bool

In [20]:
subset = df_oscars[(df_oscars.year_film == 1967) & (df_oscars.winner == True)]

In [21]:
df_oscars = df_oscars.drop(df_oscars[df_oscars.category == 'Award of commendation'].index)

In [22]:
changes_category_values = {
    'Actress':'Actress in a leading role',
    'Actor': 'Actor in a leading role',
    'Art direction': 'Production design',
    'Best motion picture': 'Picture',
    'Directing':'Director',
    'Makeup': 'Makeup and hairstyling',
    'Sound':'Sound effects',
    'Sound effects editing':'Sound effects',
    'Sound mixing':'Sound effects'
}

changes_category_strings = {
    'subject': 'film',
    'cartoon': 'animated',
    '(':'',
    ')':'',
    'Special achievement award ':'',
    'Special ':''  
}

In [23]:
for k,v in changes_category_strings.items():
    df_oscars.category = df_oscars.category.str.replace(k,v)

In [24]:
for k,v in changes_category_values.items():
    df_oscars.replace(k,v,inplace = True)

In [36]:
df_oscars.category.unique()

array(['Actor in a leading role', 'Actor in a supporting role',
       'Actress in a leading role', 'Actress in a supporting role',
       'Production design', 'Cinematography', 'Costume design',
       'Director', 'Documentary feature', 'Documentary short film',
       'Film editing', 'Foreign language film', 'Original score',
       'Original song', 'Best picture', 'Short film animated',
       'Short film live action', 'Sound effects', 'visual effects',
       'Writing screenplay--based on material from another medium',
       'Writing story and screenplay--written directly for the screen',
       'Writing story and screenplay--based on material not previously published or produced',
       'Writing story and screenplay--based on factual material or material not previously published or produced',
       'Writing original screenplay',
       'Writing screenplay adapted from other material', 'sound effects',
       'Writing screenplay written directly for the screen--based on factual material or on story material not previously published or produced',
       'Visual effects', 'sound effects editing',
       'Writing screenplay based on material from another medium',
       'Writing screenplay written directly for the screen',
       'sound editing', 'Short film dramatic live action',
       'Makeup and hairstyling',
       'Writing screenplay based on material previously produced or published',
       'Sound editing', 'Animated feature film',
       'Writing adapted screenplay', 'International feature film',
       'Documentary feature film'], dtype=object)

In [26]:
#Crear sets con categorías similares para ver qué más se puede limpiar:

In [27]:
music_categories = []
for cat in df_oscars.category:
    if re.match(r'Music',cat,flags=re.IGNORECASE):
        music_categories.append(cat)
music_categories = set(music_categories)
music_categories

{'Music adaptation score',
 'Music original dramatic score',
 'Music original music score',
 'Music original musical or comedy score',
 'Music original score',
 'Music original score--for a motion picture [not a musical]',
 'Music original song',
 'Music original song score',
 'Music original song score and its adaptation -or- adaptation score',
 'Music original song score and its adaptation or adaptation score',
 'Music original song score or adaptation score',
 'Music score of a musical picture--original or adaptation',
 'Music scoring of music--adaptation or treatment',
 'Music scoring: adaptation and original song score',
 'Music scoring: original song score and adaptation -or- scoring: adaptation',
 'Music song',
 'Music song--original for the picture'}

In [33]:
music_clean = {}
for m in music_categories:
    if re.search(r'\b\w*scor\w*\b', m, flags=re.IGNORECASE):
        music_clean[m] = 'Original score'
    else:
        music_clean[m] = 'Original song'

In [34]:
music_clean

{'Music original song': 'Original song',
 'Music adaptation score': 'Original score',
 'Music original music score': 'Original score',
 'Music score of a musical picture--original or adaptation': 'Original score',
 'Music scoring: adaptation and original song score': 'Original score',
 'Music song--original for the picture': 'Original song',
 'Music original song score and its adaptation -or- adaptation score': 'Original score',
 'Music scoring: original song score and adaptation -or- scoring: adaptation': 'Original score',
 'Music original song score or adaptation score': 'Original score',
 'Music original musical or comedy score': 'Original score',
 'Music scoring of music--adaptation or treatment': 'Original score',
 'Music original song score': 'Original score',
 'Music original score--for a motion picture [not a musical]': 'Original score',
 'Music original song score and its adaptation or adaptation score': 'Original score',
 'Music song': 'Original song',
 'Music original score': 'Original score',
 'Music original dramatic score': 'Original score'}

In [35]:
for k,v in music_clean.items():
    df_oscars.replace(k,v,inplace = True)

In [28]:
writing_categories = []
for cat in df_oscars.category:
    if re.match(r'Writing',cat,flags=re.IGNORECASE):
        writing_categories.append(cat)
writing_categories = set(writing_categories)
writing_categories

{'Writing adapted screenplay',
 'Writing original screenplay',
 'Writing screenplay adapted from other material',
 'Writing screenplay based on material from another medium',
 'Writing screenplay based on material previously produced or published',
 'Writing screenplay written directly for the screen',
 'Writing screenplay written directly for the screen--based on factual material or on story material not previously published or produced',
 'Writing screenplay--based on material from another medium',
 'Writing story and screenplay--based on factual material or material not previously published or produced',
 'Writing story and screenplay--based on material not previously published or produced',
 'Writing story and screenplay--written directly for the screen'}

In [ ]:
music_clean = {}
for m in music_categories:
    if re.search(r'\b\w*scor\w*\b', m, flags=re.IGNORECASE):
        music_clean[m] = 'Original score'
    else:
        music_clean[m] = 'Original song'